<%- contentFor('title') %>My Events
<%- contentFor('body') %>
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center align-items-start">
        <h1>My events</h1>
        <a class="btn btn-success" href="/my-events/create" data-bs-toggle="tooltip"
            data-bs-title="Create a new event"><i class="bi bi-plus"></i></a>
    </div>

    <% if (!anyEvents) { %>
    <div class="alert alert-warning mt-4" role="alert">
        You have no events yet. Create one now!
    </div>
    <% } else { %>

    <!-- Upcoming events -->
    <h4 class="mt-4">Upcoming events</h4>

    <% if (upcomingEvents.length === 0) { %>
    <div class="alert alert-warning mt-4" role="alert">
        You have no upcoming events.
    </div>
    <% } else { %>
    <div class="row">
        <% for (const event of upcomingEvents) { %>
        <div class="col-lg-4 p-2">
            <div class="card shadow-sm">
                <div class="card-body position-relative">
                    <% if (!event.public) { %>
                    <span class="badge bg-secondary m-2 position-absolute top-0 end-0" data-bs-title="Private"
                        data-bs-toggle="tooltip">
                        <big><i class="bi bi-eye-slash"></i></big>
                    </span>
                    <% } %>
                    <h5 class="card-title flex-grow-1"><%= event.name %></h5>
                    <h6 class="card-subtitle mb-2 text-muted" data-time><%= event.date.toISOString() %></h6>
                    <p class="card-text"><%= shorten(event.description, 50) %></p>
                    <div class="d-flex justify-content-between align-items-end">
                        <a href="/events/<%= event.uuid %>" class="btn btn-success">View</a>
                        <div class="badge text-bg-secondary user-select-none" data-bs-toggle="tooltip"
                            data-bs-title="Attendees">
                            <i class="bi bi-person"></i><%= event.attendeeCount %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <% } %>

    <!-- Past events -->
    <h4 class="mt-4">Past events</h4>

    <% if (pastEvents.length === 0) { %>
    <div class="alert alert-warning mt-4" role="alert">
        You have no past events.
    </div>
    <% } else { %>
    <div class="row">
        <% for (const event of pastEvents) { %>
        <div class="col-lg-4 p-2">
            <div class="card shadow-sm">
                <div class="card-body position-relative">
                    <% if (!event.public) { %>
                    <span class="badge bg-secondary m-2 position-absolute top-0 end-0" data-bs-title="Private"
                        data-bs-toggle="tooltip">
                        <big><i class="bi bi-eye-slash"></i></big>
                    </span>
                    <% } %>
                    <h5 class="card-title flex-grow-1 me-4"><%= event.name %></h5>
                    <h6 class="card-subtitle mb-2 text-muted" data-time><%= event.date.toISOString() %></h6>
                    <p class="card-text"><%= shorten(event.description, 50) %></p>
                    <a href="/my-events/<%= event.uuid %>" class="btn btn-success">View</a>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <% } %>

    <% } %>
</div>