<%- contentFor('title') %>Upcoming events
<%- contentFor('body') %>
<div class="container mt-4">
    <div class="d-lg-flex justify-content-between">

        <h1>Upcoming Events</h1>

        <form method="get">
            <div class="input-group mt-3 mt-lg-0">
                <input type="text" class="form-control" name="q" placeholder="Search..." aria-label="Search for events"
                    aria-describedby="search-button">
                <button class="btn btn-success" type="submit" id="search-button">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>

    <% if (searchEvents) { %>
        <h4 class="mt-4">Search results</h4>

        <% if (searchEvents.length === 0) { %>
            <div class="alert alert-info">
                No events found.
            </div>
        <% } else { %>
            <div class="row">
                <% for (const event of searchEvents) { %>
                    <%- include("../partials/event", { event }) %>
                <% } %>
            </div>
        <% } %>
    <% } %>

    <% if (followingEvents || popularEvents) { %>
        <h4 class="mt-4">Following</h4>

        <% if (followingEvents.length === 0) { %>
            <div class="alert alert-info">
                You are not following any users. Follow some users to get a curated feed.
            </div>
        <% } else { %>
            <div class="row">
                <% for (const event of followingEvents) { %>
                    <%- include("../partials/event", { event }) %>
                <% } %>
            </div>
        <% } %>

        <h4 class="mt-4">Popular events</h4>

        <div class="row">
            <% for (const event of popularEvents) { %>
                <%- include("../partials/event", { event }) %>
            <% } %>
        </div>
    <% } %>
</div>