<%- contentFor('title') %>User Settings | EventGenius
<%- contentFor('body') %>
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h3><b>User Settings</b></h3>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="row mb-lg-3">
                    <div class="col-12 mb-3 col-lg-6 mb-lg-0">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="John Doe"
                            value="<%- formUser.name %>" required>
                    </div>
                    <div class="col-12 mb-3 col-lg-6 mb-lg-0">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="john@doe.com"
                            value="<%- formUser.email %>" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="bio" class="form-label">Bio</label>
                    <textarea class="form-control" id="bio" name="bio" rows="3" maxlength="200"
                        placeholder="Tell us about yourself!"><%- formUser.bio %></textarea>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="*******"
                        required>
                </div>

                <% if (locals.error) { %>
                    <div class="alert alert-danger" role="alert">
                        <%- error %>
                    </div>
                <% } %>

                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>