<%- contentFor('title') %><%= targetUser.name %> | EventGenius
<%- contentFor('body') %>
<!-- Profile page for other -->
<div class="container mt-4">
    <h4>Profile for <b><%= targetUser.name %></b></h4>
    <p class="small text-muted">@<%= targetUser.username %></p>
</div>
